/*Логотип с модификатором footer*/
.logo_place_footer {
  height: 35px;

  margin: 0;

  background-image: url('/Users/maksimsalnikov/dev/how-to-learn/images/logo_place_footer.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}