.video__iframes {
  top: calc(100px + 69px + 20px + 34px);
  left: 0;
  width: 100%;
  min-height: 316px;
  margin: 0 auto;
  margin-bottom: -60px;
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
