/*Стиль ссылки в header*/
.header__link {
  text-decoration: none;

  font-family: 'Helvetica Neue', Arial, sans-serif;

  color: #2f80ed;

  transition: opacity .3s ease-in .3s;
}

/*Ссылка в header при наведении*/
.header__link:hover {
  opacity: .6;
}
