/*Общие стили для блока kaufman*/
.kaufman {
  position: relative;
  
  margin: 0;
  padding-bottom: 90px;

  background-color: #1f1f1f;

  font-family: Arial, Helvetica, sans-serif;
  color: white;

  display: flex;
  flex-direction: column;

  overflow: hidden;

  z-index: 1;
}