/*Стиль заголовка в ячейках table*/
.table__heading {
  text-align: start;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
