/*Нижняя подпись в header*/
.header__subtitle {
    position: absolute;
  
    width: 388px;
    font-size: 18px;
    line-height: 25px;
  
    font-family: Arial, Helvetica, sans-serif;
  
    margin: 0;
  
    bottom: 30px;
    left: 64px;
  }