.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

a {
  text-decoration: none;
}

/*Серый фон*/
.background-color-grey {
  background-color: #f2f2f2;
}

/*Общий стиль текста для страницы*/
.page__font {
  font-family: Arial, Helvetica, sans-serif;
}

/*Цвет текста - синий*/
.font-color-blue{
  color: #2f80ed;
}

/*Общий стиль текста для section-title*/
.section-title {
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
}

/*Общий стиль текста для section-subtitle*/
.section-subtitle {
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

/*Обводит красным*/
.border-red {
  border: 1px solid red;
}

/*Общий стиль для блок header*/
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;

  display: flex;
  position: relative;
}

/*Заголовок в header*/
.header__title {
  width: 730px;
  font-size: 102px;
  line-height: 96px;

  margin: auto 0;
  padding-left: 64px;
  box-sizing: border-box;
  z-index: 2;
}

/*Нижняя подпись в header*/
.header__subtitle {
  width: 388px;
  font-size: 18px;
  line-height: 25px;

  position: absolute;
  bottom: 30px;
  left: 64px;

  z-index: 2;
}

/*Картина - Опять двойка*/
.header__pic {
  position: absolute;
  width: 765px;
  height: 608px;

  bottom: 0;
  right: 0;

  z-index: 1;
}

/*Квадрат синий в header*/
.header__square-pic {
  position: absolute;

  height: 568px;
  width: 568px;

  top: 64px;
  right: 0;

  background-color: #2f80ed;
}

/*Лого для header
Логотип - повторяющийся элемент, далее содержится в подвале сайта.*/
.logo {
  width: 183px;
  height: 32px;
}

/*Изображение лого header*/
.logo__place_header {
  position: absolute;
  background-image: url('../images/logo_place_header.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  top: 30px;
  left: 64px;

  z-index: 3;
}

/*Второй блок на лендинге*/
.description {
  display: flex;
}

/*Общий информационный блок в description*/
.description__two-columns {
  width: 80%;

  margin: 0 auto;

  padding: 100px 0 100px 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*Заголовок раздела descriptions*/
.two-columns__brief {
  width: 175px;

  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  text-align: start;

  margin: 0;
}

/*Блок основного массива текста справа в description*/
.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

/*Общий стиль для параграфов*/
.two-columns__paragraph {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

/*Стиль второго параграфа*/
.two-columns__paragraph-second {
  margin: 30px 0;
}

/*Выделение жирным слова - Вывод*/
.two-columns__span-accent {
  font-weight: 700;
}

/*Общий стиль секции digits*/
.digits {
  display: flex;
  flex-direction: column;
}

/*Стиль заголовка в digits*/
.digits__section-title {
  width: 60%;
  margin: auto;
}

/*Стиль темы в digits*/
.digits__section-subtitle {
  width: 60%;
  margin: auto;
  padding-top: 20px;
}

/*Общий стиль для table
Повторяется ниже на лендинге*/
.table {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

/*Стиль заголовка в ячейках table*/
.table__heading {
  text-align: start;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;

  margin: 0;
}

/*Стиль текста в ячейках table*/
.table__text {
  text-align: start;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;

  margin: 0;
  padding-top: 20px;
}

/*Общий стиль таблицы в digits*/
.digits__table {
  width: 1100px;
  margin: auto;

  padding-bottom: 100px;
}

/*Стиль ячейки в блоке digits*/
.table__cell-digits {
  width: 250px;
  min-height: 50px;

  padding-top: 60px;
}

/*Стиль блока feynman*/
.feynman {
  position: relative;
  display: flex;
  flex-direction: column;

  height: 790px;
}

/*Фото Фейнмана*/
.feynman__pic {
  position: absolute;

  width: 867px;
  height: 637px;

  bottom: 0;
  left: 0;

  z-index: 1;

  background-image: url('../images/feynman.png');
}

/*Заголовок блока feynman*/
.feynman__title {
  width: 648px;

  margin: 100px auto 0;

  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 700;

  z-index: 2;
}

/*Подзаголовок блока feynman*/
.feynman__subtitle {
  width: fit-content;

  margin: 70px auto 0;

  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;

  z-index: 2;
}

/*Ссылка блока feynman*/
.feynman__link {
  position: absolute;

  top: 50%;
  right: 48px;

  line-height: 51px;
  font-size: 36px;
  font-weight: normal;

  z-index: 2;
}
